  html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 50vh);  
    gap: 0;
    height: 100vh;
    width: 100vw;
  }

 
  .box {
    position: relative;
    overflow: hidden;
    color: white;
    cursor: pointer;
  }


  .box video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

 
  .box .content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px 5px black;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }

 
  .box:hover video {
    filter: blur(5px);
  }

  .box:hover .content {
    opacity: 1;
  }